<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/home.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <h3 >kamrudheen</h3>
        <button class="logout">
            <a href="/user/exit">Log Out</a>
        </button>
    </nav>
</body>
</html> 